[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/mkst/n64splat.git
	branch = psx
[submodule "tools/mips_to_c"]
	path = tools/mips_to_c
	url = https://github.com/matt-kempster/mips_to_c.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
