asm/
assets/
build/
rom/
linkers/
.vscode/
.idea/
__pycache__/
permuter/
expected/
.venv/
.cache/
.splache
.ninja_log
build.ninja
matching.ninja
objdiff.ninja

objdiff.json
null.d
!*/place-the-bin-and-cue-here
ctx.c
compile.log
compile_commands.json
Zone.Identifier
