name: Main Game Logic Overlay (BODYPROG)
sha1: 6513FD4DF1A0C57B814BA70B89859BA8C4AAE3BE
options:
  basename: BODYPROG.BIN
  target_path: assets/JAP0/1ST/BODYPROG.BIN
  base_path: ../..
  platform: psx
  compiler: GCC

  asm_path: asm/JAP0/bodyprog
  src_path: src/bodyprog
  asset_path: asm/JAP0/bodyprog
  build_path: build/JAP0

  ld_script_path: linkers/JAP0/bodyprog.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0
  global_vram_start: 0x80010000
  global_vram_end: 0x80200000

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
   # - configs/JAP0/screens/sym.b_konami.txt - Can't currently be included as function addrs overlap with map overlay data addrs
    - configs/JAP0/screens/sym.stream.txt
    - configs/JAP0/screens/sym.saveload.txt
    - configs/JAP0/screens/sym.options.txt
    - configs/JAP0/screens/sym.credits.txt
    - configs/JAP0/sym.bodyprog.txt
    - configs/USA/sym.main.txt
  reloc_addrs_path:
    - configs/JAP0/rel.bodyprog.txt

  undefined_funcs_auto_path: linkers/JAP0/undefined_funcs_auto.bodyprog.txt
  undefined_syms_auto_path: linkers/JAP0/undefined_syms_auto.bodyprog.txt

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: bodyprog
    type: code
    start: 0x0
    vram: 0x80024B60
    align: 4
    subalign: 4
    subsegments:
      # TODO: Need to recheck rodata against USA.
      - [0x0, rodata, bodyprog] # SDK libs, lib_unk
      - [0x6438, .rodata, demo]
      - [0x6454, rodata, bodyprog2]

      #- [0x97F0, asm, bodyprog] # Data
      #- [0x97F0, asm, globals] # Data
      #- [0x97F0, asm, syswork_functable] # Data

      - [0x97F0, asm, memcard]
      - [0xC674, asm, screen/background_draw]
      - [0xD084, asm, screen/text_debug_draw]
      - [0xD4E0, asm, screen/screen_draw]
      - [0xD72C, asm, screen/screen_fade]
      - [0xDA24, asm, screen/screen_cutscenesborders]
      - [0xDD08, c, sys/vsync]
      - [0xDD58, asm, sys/fs_screens]
      - [0xDEA4, asm, sys/gamemain] # Name from SH2 symbols. This name also applies for SH4 instance too.
      - [0xE53C, asm, sys/settings_reset]
      - [0xE648, asm, sys/memcard_2]
      - [0xF250, c, sys/warmboot]
      - [0xF58C, c, sys/joy]
      - [0xFA30, asm, game_init/ingame_load]
      - [0x10038, c, game_init/ingame_init]
      - [0x1022C, c, game_init/ingame_subinit]
      - [0x103FC, asm, game_init/fs_npc_anim]
      - [0x108F0, asm, game_init/background_sound_init]
      - [0x10C74, c, game_init/loadscreen]
      - [0x10F24, asm, events/bgm_update]
      - [0x11728, asm, events/mapmsg_display]
      - [0x12328, c, events/radio]
      - [0x123BC, asm, events/bodyprog_event_800371E8]
      - [0x12F98, c, events/bodyprog_npc_80037DC4]
      - [0x13DA8, asm, events/bodyprog_gamestates_80038BD4]
      - [0x15104, asm, events/bodyprog_event_80039F30]
      - [0x15CFC, asm, title]
      - [0x16F00, asm, gfx/bodyprog_8003BD2C]
      - [0x197BC, asm, gfx/bodyprog_8003E5E8]
      - [0x1B1D8, asm, gfx/bodyprog_80040004]
      - [0x1B220, c, view/vc_util]
      - [0x1BC38, asm, gfx/bodyprog_80040A64]
      - [0x1F778, asm, gfx/bodyprog_anim_800445A4]
      - [0x20C50, asm, sound/sd_call]
      - [0x22CF8, asm, sound/sd_snd]
      - [0x23784, asm, sound/bodyprog_nullsub_800485B0]
      - [0x237AC, asm, sound/bodyprog_800485D8]
      - [0x23C0C, c, view/vw_main]
      - [0x240FC, c, view/vw_calc] # Contains part of SH2's `vb_main`?
      - [0x25A50, asm, screen/text_draw]
      - [0x28030, asm, items/item_screens_cam]
      - [0x28580, asm, items/item_screens_1]
      - [0x28DD4, asm, items/item_screens_2]
      - [0x2BC80, asm, items/item_screens_3]
      - [0x31F1C, asm, gfx/bodyprog_80055028]
      - [0x38E2C, c, bodyprog_math_8005BF38]
      - [0x396C4, c, bodyprog_combat_8005BF38]
      - [0x3A760, c, 3d_audio]
      - [0x3AFD0, asm, bodyprog_8005E0DC]
      - [0x421E8, asm, bodyprog_800652F4]
      - [0x43C84, asm, bodyprog_mapscreen_80066EB0]
      - [0x43DA4, asm, bodyprog_mapscreen_80066D90]
      - [0x466E0, asm, bodyprog_800697EC]
      - [0x4D5D8, asm, bodyprog_800706E4]
      - [0x5D81C, asm, view/vc_main]
      - [0x62C54, asm, bodyprog_80085D78]
      - [0x64D84, c, bodyprog_bgm_80087EA8]
      - [0x65094, c, bodyprog_800881B8]
      - [0x65B58, c, chara_spawn]
      - [0x65F6C, asm, bodyprog_80089090]
      - [0x66F34, asm, bodyprog_combat_8008A058]
      - [0x6985C, c, dms]
      - [0x6A2D8, asm, water]
      - [0x6BDDC, c, demo]
      - [0x6C7D8, asm, ranking]
      - [0x6E604, asm, credits_init]

      # TODO: SDK libs
      - [0x6E988, asm, lib/libapi]
      # TODO - [0x6CF9C, asm, bodyprog_data_800A8D98] # Data
      # TODO - [0x6CF9C, asm, screen/screen_data]     # Data
      # TODO - [0x6CF9C, asm, bodyprog_data_800A90FC] # Data

      - [0x865D4, data, bodyprog]
      - [0x8ACBC, .data, view/vw_calc]
      - [0x8ACD4, data, bodyprog_8ACD4]
      - [0x8D618, .data, demo]
      - [0x8D654, data, bodyprog2]
      
      #- [0x8D668, .data, credits_init] - Might be wrong
      #- [0x8D6DC, data, bodyprog3]
      - [0xA11B0, .bss, view/vw_main]
      - [0xA1238, .bss, view/vw_calc]
      - [0xA1278, bss]
      - [0xA1C90, .bss, 3d_audio]
      - [0xA1CA0, bss]
      - [0xA2210, .bss, demo]
      - [0xA2270, bss]
      - [0xA22B8, pad] # Garbage
      - [0xA22C0, bss]
      - [0xA22C4, pad] # Garbage
      - [0xA22C8, bss]
      - [0xA490C, pad] # Garbage
      - [0xA4910, bss]
      - [0xA49FC, pad] # Garbage
      - [0xA4A00, bss]
      - [0xA50BC, pad] # Garbage
      - [0xA50C0, bss]
      - [0xA64CC, pad] # Garbage
      - [0xA64D0, bss]

  # Random garbage data at end, define as bin file to make Splat ignore it.
  - name: footer_data
    type: bin
    start: 0xA6F48
  - [0xA7000]
