name: Main Game Logic Overlay (BODYPROG)
sha1: 6513FD4DF1A0C57B814BA70B89859BA8C4AAE3BE
options:
  basename: BODYPROG.BIN
  target_path: assets/JAP0/1ST/BODYPROG.BIN
  base_path: ../..
  platform: psx
  compiler: GCC

  asm_path: asm/JAP0/bodyprog
  src_path: src/bodyprog
  asset_path: asm/JAP0/bodyprog
  build_path: build/JAP0

  ld_script_path: linkers/JAP0/bodyprog.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0
  global_vram_start: 0x80010000
  global_vram_end: 0x80200000

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
   # - configs/JAP0/screens/sym.b_konami.txt - Can't currently be included as function addrs overlap with map overlay data addrs
    - configs/JAP0/screens/sym.stream.txt
    - configs/JAP0/screens/sym.saveload.txt
    - configs/JAP0/screens/sym.options.txt
    - configs/JAP0/screens/sym.credits.txt
    - configs/JAP0/sym.bodyprog.txt
    - configs/JAP0/sym.main.txt
  reloc_addrs_path:
    - configs/JAP0/rel.bodyprog.txt

  undefined_funcs_auto_path: linkers/JAP0/undefined_funcs_auto.bodyprog.txt
  undefined_syms_auto_path: linkers/JAP0/undefined_syms_auto.bodyprog.txt

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: bodyprog
    type: code
    start: 0x0
    vram: 0x80024B60
    align: 4
    subalign: 4
    subsegments:
      - [0x0, rodata]
      
      #- [0x97F0, asm, bodyprog] # Data
      #- [0x97F0, asm, globals] # Data
      #- [0x97F0, asm, syswork_functable] # Data
      - [0x97F0, asm, memcard/memcard_1]
      - [0xC674, asm, screen/background_draw]
      - [0xD084, asm, screen/text_draw_debug]
      - [0xD4E0, asm, screen/screen_draw]
      - [0xD72C, asm, screen/screen_fade]
      - [0xDD58, asm, screen/fs_main_screen]
      - [0xDE70, asm, saveload/bodyprog_80032D1C]
      - [0xDEA4, asm, gamemain] # Name from SH2 symbols. This name also applies for SH4 instance too.
      - [0xE53C, asm, settings_reset]
      - [0xE648, asm, memcard/memcard_2]
      - [0xF250, asm, warmboot]
      - [0xF58C, asm, controls/joy_1]
      - [0xFA30, asm, bodyprog_800348C0]
      - [0x15CFC, asm, bodyprog_8003AB28]
      - [0x1B220, asm, view/vc_util]
      - [0x1BC38, asm, bodyprog_80040A64]
      - [0x20C50, asm, sound/sd_call]
      - [0x22CF8, asm, sound/sd_snd]
      - [0x23784, asm, sound/bodyprog_nullsub_800485B0]
      - [0x237AC, asm, sound/sd_data] # Data
      - [0x237AC, asm, sound/bodyprog_800485D8]
      - [0x23C0C, asm, view/vw_main]
      - [0x240FC, asm, view/vw_calc] # Contains part of SH2's `vb_main`?
      - [0x25A50, asm, screen/text_draw]
      - [0x28030, asm, items/item_screens_cam] # Uncertain if this is right for JP
      - [0x28580, asm, items/item_screens_1]
      - [0x28DD4, asm, items/item_screens_2]
      - [0x2BC80, asm, items/item_screens_3]
      - [0x31F1C, asm, bodyprog_80055028]
      - [0x4D5D8, asm, bodyprog_800706E4]
      - [0x4DA78, asm, bodyprog_80070B84]
      - [0x5D81C, asm, view/vc_main]
      - [0x62C54, asm, bodyprog_80085D78]
      - [0x6BDDC, asm, demo]
      - [0x6C7D8, asm, credits]
      # TODO - [0x6CF9C, asm, bodyprog_data_800A8D98] # Data
      # TODO - [0x6CF9C, asm, screen/screen_data]     # Data
      # TODO - [0x6CF9C, asm, bodyprog_data_800A90FC] # Data

      - [0x865D4, data, bodyprog]
  - [0xA7000]
