name: Save/Load screen overlay (SAVELOAD)
sha1: af613b5c4b1ebb43a7ce6e5ecfd78262c5711e93
options:
  basename: SAVELOAD.BIN
  target_path: assets/VIN/SAVELOAD.BIN
  base_path: ../..
  platform: psx
  compiler: GCC

  asm_path: asm/screens/saveload
  src_path: src/screens/saveload
  asset_path: asm/screens/saveload
  build_path: build/

  ld_script_path: linkers/screens/saveload.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0
  global_vram_start: 0x80010000
  global_vram_end: 0x80200000

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
    - configs/screens/sym.saveload.txt
    - configs/sym.bodyprog.txt
    - configs/sym.main.txt
  reloc_addrs_path:
    - configs/screens/rel.saveload.txt

  undefined_funcs_auto_path: linkers/screens/undefined_funcs_auto.saveload.txt
  undefined_syms_auto_path: linkers/screens/undefined_syms_auto.saveload.txt

  extensions_path: tools/splat_ext

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: saveload
    type: code
    start: 0
    vram: 0x801E2600
    align: 4
    subalign: 4
    subsegments:
      - [0x0, rodata]
      #- [0x144, .rodata, saveload] # Data from `func_801E3304`
      #- [0x27C, .rodata, saveload] # Data from `func_801E3910`
      #- [0x3F8, rodata]
      - [0x78C, c, saveload]
      - [0x4EA8, data, saveload]

  # Random garbage data at end, define as bin file to make Splat ignore it.
  - name: footer_data
    type: bin
    start: 0x50D8
  - [0x5100]
