name: Main Game Logic Overlay (BODYPROG)
sha1: eb118537b0c3c1e5cccfa2c5d283b3119c5ec7a3
options:
  basename: BODYPROG.BIN
  target_path: assets/1ST/BODYPROG.BIN
  base_path: ..
  platform: psx
  compiler: GCC

  asm_path: asm/bodyprog
  src_path: src/bodyprog
  asset_path: asm/bodyprog
  build_path: build/

  ld_script_path: linkers/bodyprog.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0
  global_vram_start: 0x80010000
  global_vram_end: 0x80200000

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
   # - configs/screens/sym.b_konami.txt - Can't currently be included as function addrs overlap with map overlay data addrs
    - configs/screens/sym.stream.txt
    - configs/screens/sym.saveload.txt
    - configs/screens/sym.options.txt
    - configs/screens/sym.credits.txt
    - configs/sym.bodyprog.txt
    - configs/sym.main.txt
  reloc_addrs_path:
    - configs/rel.bodyprog.txt

  undefined_funcs_auto_path: linkers/undefined_funcs_auto.bodyprog.txt
  undefined_syms_auto_path: linkers/undefined_syms_auto.bodyprog.txt

  extensions_path: tools/splat_ext

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: bodyprog
    type: code
    start: 0x0
    vram: 0x80024B60
    align: 4
    subalign: 4
    subsegments:
      # .rodata section
      - [0x0, .rodata, bodyprog]
      - [0x4, .rodata, memcard]
      - [0x140, .rodata, gfx/graphics_1]
      - [0x1E4, .rodata, globals]
      - [0x5AC, .rodata, bodyprog_80032D1C]
      - [0x618, .rodata, bodyprog_800334D8]
      - [0x91C, .rodata, bodyprog_8003AB28]
      - [0x1094, .rodata, libsd/bodyprog_80045A7C]
      - [0x11C4, .rodata, libsd/bodyprog_CD_80047D50]
      - [0x1208, .rodata, text_draw]
      - [0x1330, .rodata, items/item_screens_1]
      - [0x1350, .rodata, items/item_screens_2]
      - [0x1770, .rodata, items/item_screens_3]
      - [0x39CC, .rodata, bodyprog_80055028]
      - [0x4034, rodata] # Part of `bodyprog_800706E4` that can't be merged because inserting `D_80028B34` with `INCLUDE_RODATA` causes misalignment.
      - [0x4BF0, .rodata, bodyprog_800706E4]
      - [0x5CF0, .rodata, view/vc_main]
      - [0x5F9C, .rodata, bodyprog_80085D78]
      - [0x6778, .rodata, demo]
      - [0x6798, .rodata, credits]
      - [0x6A74, lib, libcd, iso9660, .rdata]
      - [0x6C64, lib, libcd, c_011, .rdata]
      - [0x6C84, lib, libgs, matrix, .rdata]
      - [0x6CB4, lib, libgs, gs_108, .rdata]
      - [0x6CD4, lib, libgs, gs_123, .rdata]
      - [0x6D64, lib, libgs, objt, .rdata]
      - [0x6E04, lib, libgs, objt3, .rdata]
      - [0x6EA4, rodata, lib_unk/lib_8009687C] # rsin_tbl, rcos_tbl
      - [0x96A4, lib, libpad, padentry, .rdata]
      - [0x96C4, lib, libspu, s_sva, .rdata]
      - [0x9704, lib, libspu, s_sca, .rdata]
      - [0x9744, .rodata, libsd/smf_io]
      - [0x99D8, .rodata, libsd/smf_mid]

      # .text section
      - [0x9AD0,    c, memcard]
      - [0xC98C,    c, gfx/graphics_1]
      - [0xE070,    c, fs_mainscreen]
      - [0xE188,    c, bodyprog_80032D1C]
      - [0xE9E8,    c, bodyprog_800334D8]
      - [0x15FC8,   c, bodyprog_8003AB28]
      - [0x1B4EC,   c, view/vc_util]
      - [0x1BF04,   c, bodyprog_80040A64]
      - [0x20F1C,   c, libsd/bodyprog_80045A7C]
      - [0x231F0,   c, libsd/bodyprog_CD_80047D50]
      - [0x23ED8,   c, view/vw_main]
      - [0x243C8,   c, view/vw_calc] # Contains part of SH2's `vb_main`?
      - [0x25D1C,   c, text_draw]
      - [0x26FEC,   c, items/item_screens_cam]
      - [0x27528,   c, items/item_screens_1]
      - [0x27D7C,   c, items/item_screens_2]
      - [0x2AA7C,   c, items/item_screens_3]
      - [0x304C8,   c, bodyprog_80055028]
      - [0x4BB84,   c, bodyprog_800706E4]
      - [0x5BDE0,   c, view/vc_main]
      - [0x61218,   c, bodyprog_80085D78]
      - [0x6A3C0,   c, demo]
      - [0x6ADEC,   c, credits]
      - [0x6CF9C, lib, libapi, a09]
      - [0x6CFAC, lib, libapi, a11]
      - [0x6CFBC, lib, libapi, a39]
      - [0x6CFCC, lib, libapi, a51]
      - [0x6CFDC, lib, libapi, a53]
      - [0x6CFEC, lib, libapi, a65]
      - [0x6CFFC, lib, libapi, a67]
      - [0x6D00C, lib, libapi, a68]
      - [0x6D01C, lib, libapi, a69]
      - [0x6D02C, lib, libapi, a81]
      - [0x6D03C, lib, libapi, first]
      - [0x6D2DC, lib, libapi, a66]
      - [0x6D2EC, lib, libc, a56]
      - [0x6D2FC, lib, libc, c24]
      - [0x6D30C, lib, libc, c25]
      - [0x6D31C, lib, libc, c26]
      - [0x6D32C, lib, libc, c27]
      - [0x6D33C, lib, libc, c37]
      - [0x6D34C, lib, libc, memcmp]
      - [0x6D39C, lib, libcard, c171]
      - [0x6D3AC, lib, libcard, c172]
      - [0x6D3BC, lib, libcard, a78]
      - [0x6D3CC, lib, libcard, a80]
      - [0x6D3DC, lib, libcard, card]
      - [0x6D41C, lib, libcard, init]
      - [0x6D4EC, lib, libapi, pad]
      - [0x6D7EC, lib, libapi, a18]
      - [0x6D7FC, lib, libapi, a19]
      - [0x6D80C, lib, libapi, a20]
      - [0x6D81C, lib, libapi, a21]
      - [0x6D82C, lib, libapi, l02]
      - [0x6D83C, lib, libapi, l03]
      - [0x6D84C, lib, libapi, patch]
      - [0x6D8EC, lib, libapi, c68]
      - [0x6D8FC, lib, libapi, chclrpad]
      - [0x6D96C, lib, libcard, a74]
      - [0x6D97C, lib, libcard, a75]
      - [0x6D98C, lib, libcard, a76]
      - [0x6D99C, lib, libcard, patch]
      - [0x6DB6C, lib, libcard, end]
      - [0x6DBEC, lib, libcd, cdrom]
      - [0x6DC1C, lib, libcd, iso9660]
      - [0x6E58C, lib, libcd, cdread2]
      - [0x6E63C, lib, libcd, c_002]
      - [0x6E69C, lib, libcd, c_003]
      - [0x6E71C, lib, libcd, c_004]
      - [0x6E80C, lib, libcd, c_005]
      - [0x6E89C, lib, libcd, c_007]
      - [0x6E94C, lib, libcd, c_008]
      - [0x6E98C, lib, libcd, c_009]
      - [0x6EA4C, lib, libcd, c_010]
      - [0x6EA6C, lib, libcd, c_011]
      - [0x6F55C, lib, libgpu, ext]
      - [0x6F7FC, lib, libgpu, p00]
      - [0x6F83C, lib, libgpu, p01]
      - [0x6F85C, lib, libgpu, p06]
      - [0x6F89C, lib, libgpu, p09]
      - [0x6F8BC, lib, libgpu, p14]
      - [0x6F8DC, lib, libgpu, p16]
      - [0x6F8FC, lib, libgpu, p17]
      - [0x6F91C, lib, libgpu, p18]
      - [0x6F93C, lib, libgpu, p26]
      - [0x6F95C, lib, libgpu, p33]
      - [0x6F98C, lib, libgpu, p34]
      - [0x6F9EC, lib, libgs, 2d_sp1]
      - [0x6FB6C, lib, libgs, gs_001]
      - [0x700BC, lib, libgs, gs_002]
      - [0x701DC, lib, libgs, gs_003]
      - [0x7025C, lib, libgs, gs_007]
      - [0x7029C, lib, libapi, counter]
      - [0x7040C, lib, libgs, gs_008]
      - [0x7043C, lib, libgs, gs_009]
      - [0x7046C, lib, libgs, gs_010]
      - [0x7051C, lib, libgs, matrix]
      - [0x708DC, lib, libgs, gs_104]
      - [0x7095C, lib, libgs, gs_105]
      - [0x709CC, lib, libgs, gs_106]
      - [0x709EC, lib, libgs, gs_107]
      - [0x70F5C, lib, libgs, gs_108]
      - [0x70FDC, lib, libgs, gs_110]
      - [0x7100C, lib, libgs, gs_111]
      - [0x7103C, lib, libgs, gs_113]
      - [0x7109C, lib, libgs, gs_114]
      - [0x7115C, lib, libgs, gs_121]
      - [0x711AC, lib, libgs, gs_123]
      - [0x7127C, lib, libgs, gs_127]
      - [0x712FC, lib, libgs, objt]
      - [0x7148C, lib, libgs, objt3]
      - [0x71D1C, asm, lib_unk/lib_8009687C] # Konami custom RotMatrix functions? Fewer branches and different GTE instructions compared to PSX SDK versions.
      - [0x72368, lib, libgte, msc00]
      - [0x723F8, lib, libgte, msc01]
      - [0x72488, lib, libgte, msc02]
      - [0x72738, lib, libgte, msc06]
      - [0x729C8, lib, libgte, msc09]
      - [0x72A68, lib, libgte, mtx_000]
      - [0x72B78, lib, libgte, mtx_001]
      - [0x72C68, lib, libgte, mtx_003]
      - [0x72DC8, lib, libgte, mtx_004]
      - [0x72F28, lib, libgte, mtx_005]
      - [0x72F58, lib, libgte, mtx_006]
      - [0x730A8, lib, libgte, mtx_007]
      - [0x730F8, lib, libgte, mtx_01]
      - [0x73238, lib, libgte, mtx_02]
      - [0x73328, lib, libgte, mtx_03]
      - [0x73438, lib, libgte, mtx_04]
      - [0x73548, lib, libgte, mtx_05]
      - [0x73598, lib, libgte, mtx_06]
      - [0x735F8, lib, libgte, mtx_07]
      - [0x73628, lib, libgte, mtx_08]
      - [0x73768, lib, libgte, mtx_09]
      - [0x73798, lib, libgte, mtx_10]
      - [0x737C8, lib, libgte, mtx_11]
      - [0x737F8, lib, libgte, mtx_12]
      - [0x73818, lib, libgte, reg08]
      - [0x73838, lib, libgte, reg09]
      - [0x73848, lib, libgte, reg10]
      - [0x73868, lib, libgte, reg11]
      - [0x73888, lib, libgte, reg12]
      - [0x738A8, lib, libgte, reg13]
      - [0x738B8, lib, libgte, smp]
      - [0x73A98, lib, libgte, smp_00]
      - [0x73CA8, lib, libgte, smp_02]
      - [0x73CD8, lib, libgte, smp_03]
      - [0x73D38, lib, libgte, smp_04]
      - [0x73D68, lib, libgte, cmb_00]
      - [0x73DE8, lib, libgte, fgo_00]
      - [0x73E28, lib, libgte, g3]
      - [0x743D8, lib, libgte, g4]
      - [0x74A98, lib, libgte, gt3]
      - [0x750D8, lib, libgte, gt4]
      - [0x75848, lib, libgte, ratan]
      - [0x759C8, lib, libgte, patchgte]
      - [0x75AA8, lib, libpad, padentry]
      - [0x75F58, lib, libpad, padmain]
      - [0x76C58, lib, libpad, padcmd]
      - [0x775B8, lib, libpad, padif]
      - [0x77BA8, lib, libpad, padportd]
      - [0x78208, lib, libpad, padseqd]
      - [0x78698, lib, libpad, waitrc2]
      - [0x78758, lib, libspu, s_crwa]
      - [0x788F8, lib, libapi, a10]
      - [0x78908, lib, libspu, s_m_util] # _SpuIsInAllocateArea _SpuIsInAllocateArea_
      - [0x78A18, lib, libspu, s_stm] # SpuSetTransferMode
      - [0x78A48, lib, libspu, s_sva] # SpuSetVoiceAttr
      - [0x79048, lib, libspu, s_n2p] # _spu_note2pitch _spu_pitch2note
      - [0x79248, lib, libspu, s_gva] # SpuGetVoiceAttr
      - [0x79638, asm, lib_unk/lib_8009E198]
      - [0x7A244,   c, libsd/smf_snd]
      - [0x7D7FC, lib, libspu, s_q] # SpuQuit
      - [0x7D87C, lib, libapi, a13] # DisableEvent
      - [0x7D88C, lib, libspu, s_m_init] # SpuInitMalloc
      - [0x7D8EC, lib, libspu, s_sr] # SpuSetReverb
      - [0x7D9BC, lib, libspu, s_srmp] # SpuSetReverbModeParam
      - [0x7DE9C, lib, libspu, s_sra] # _spu_setReverbAttr
      - [0x7E36C, lib, libspu, s_rrwa] # SpuReserveReverbWorkArea
      - [0x7E3BC, lib, libspu, s_srv] # SpuSetReverbVoice
      - [0x7E3EC, lib, libspu, s_sav] # _SpuSetAnyVoice
      - [0x7E6AC, lib, libspu, s_sk] # SpuSetKey
      - [0x7E86C, lib, libspu, s_gks] # SpuGetKeyStatus
      - [0x7E8FC, lib, libspu, s_skowa] # SpuSetKeyOnWithAttr
      - [0x7E92C, lib, libspu, s_w] # SpuWrite
      - [0x7E98C, lib, libspu, s_stsa] # SpuSetTransferStartAddr
      - [0x7E9EC, lib, libspu, s_itc] # SpuIsTransferCompleted
      - [0x7EA9C, lib, libspu, s_sca] # SpuSetCommonAttr
      - [0x7EE1C,   c, libsd/smf_io]
      - [0x82158, lib, libspu, s_grv] # SpuGetReverbVoice
      - [0x82188, lib, libspu, s_gav] # _SpuGetAnyVoice
      - [0x821B8,   c, libsd/smf_main]
      - [0x82458,   c, libsd/smf_mid]

      # .data section
      - [0x84238, .data, bodyprog_800A8D98]
      - [0x84EA4, data, bodyprog_800A9074]
      - [0x84ECC, .data, syswork_functable]
      - [0x84F08, data, bodyprog_800A9A68]
      - [0x84F2C, .data, bodyprog_8003AB28]
      - [0x84F4C, data, bodyprog_800A9AA0]
      - [0x89000, .data, items/item_screens_3]
      - [0x8A37C, data, bodyprog_800AE5F0]
      - [0x8B31C, lib, libcard, init, .data]
      - [0x8B32C, lib, libapi, pad, .data]
      - [0x8B33C, lib, libcd, cdrom, .data]
      - [0x8B34C, lib, libcd, iso9660, .data]
      - [0x8B35C, lib, libcd, c_002, .data]
      - [0x8B36C, lib, libcd, c_003, .data]
      - [0x8B37C, lib, libcd, c_004, .data]
      - [0x8B38C, lib, libcd, c_005, .data]
      - [0x8B39C, lib, libcd, c_007, .data]
      - [0x8B3AC, lib, libcd, c_008, .data]
      - [0x8B3BC, lib, libcd, c_009, .data]
      - [0x8B3CC, lib, libcd, c_010, .data]
      - [0x8B3DC, lib, libcd, c_011, .data]
      - [0x8B42C, lib, libgs, gs_001, .data]
      - [0x8B43C, lib, libapi, counter, .data]
      - [0x8B45C, lib, libgs, global, .data]
      - [0x8B46C, lib, libgte, sqrtbl, .data]
      - [0x8B5EC, lib, libgte, msc00, .data]
      - [0x8B5FC, lib, libgte, msc02, .data]
      - [0x8B79C, lib, libgte, mtx_006, .data]
      - [0x8BAAC, lib, libgte, ratan, .data]
      - [0x8C2BC, lib, libpad, padmain, .data]
      - [0x8C33C, lib, libpad, padif, .data]
      - [0x8C35C, lib, libpad, padportd, .data]
      - [0x8C36C, lib, libspu, zerobuf, .data]
      - [0x8C76C, lib, libspu, s_n2p, .data]
      - [0x8C88C, data, bodyprog_800B13EC]

      # .bss section
      - [0x9FD98, lib, libapi, first, .bss]
      - [0x9FDC8, lib, libapi, pad, .bss]
      - [0x9FDD8, lib, libapi, patch, .bss]
      - [0x9FDE8, lib, libapi, chclrpad, .bss]
      - [0x9FDF8, lib, libcard, patch, .bss]
      - [0x9FE08, lib, libcard, end, .bss]
      - [0x9FE18, lib, libcd, cdrom, .bss]
      - [0x9FE60, lib, libcd, iso9660, .bss]
      - [0xA2260, lib, libcd, c_004, .bss]
      - [0xA2270, lib, libcd, c_005, .bss]
      - [0xA2278, lib, libcd, c_011, .bss]
      - [0xA2288, lib, libgs, gs_001, .bss]
      - [0xA2348, lib, libgs, matrix, .bss] # Resized matrix.o .bss section from 0x80 to 0x78.
      - [0xA23C0, lib, libgs, gs_104, .bss]
      - [0xA23DC, bss, bodyprog_800C6F3C] # Contains random padding data.
      - [0xA23E0, lib, libgs, gs_107, .bss]
      - [0xA2420, lib, libgs, gs_123, .bss]
      - [0xA24A0, lib, libgs, global, .bss]
      - [0xA24CC, bss, bodyprog_800C702C] # Contains random padding data.
      - [0xA24D0, lib, libgs, objt3, .bss]
      - [0xA2600, lib, libgte, patchgte, .bss]
      - [0xA2610, lib, libpad, padmain, .bss]
      - [0xA2630, lib, libpad, padcmd, .bss]
      - [0xA2640, lib, libpad, padportd, .bss]
      - [0xA28B0, bss, bodyprog_800C7410] # Contains random padding data.

  # Random garbage data at end, define as bin file to make Splat ignore it.
  - name: footer_data
    type: bin
    start: 0xA4A18
  - [0xA4B00]
