name: Main Game Logic Overlay (BODYPROG)
sha1: eb118537b0c3c1e5cccfa2c5d283b3119c5ec7a3
options:
  basename: BODYPROG.BIN
  target_path: assets/1ST/BODYPROG.BIN
  base_path: ..
  platform: psx
  compiler: GCC

  asm_path: asm/bodyprog
  src_path: src/bodyprog
  asset_path: asm/bodyprog
  build_path: build/

  ld_script_path: linkers/bodyprog.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0
  global_vram_start: 0x80010000
  global_vram_end: 0x80200000

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
   # - configs/screens/sym.b_konami.txt - Can't currently be included as function addrs overlap with map overlay data addrs
    - configs/screens/sym.stream.txt
    - configs/screens/sym.saveload.txt
    - configs/screens/sym.options.txt
    - configs/screens/sym.credits.txt
    - configs/sym.bodyprog.txt
    - configs/sym.main.txt
  reloc_addrs_path:
    - configs/rel.bodyprog.txt

  undefined_funcs_auto_path: linkers/undefined_funcs_auto.bodyprog.txt
  undefined_syms_auto_path: linkers/undefined_syms_auto.bodyprog.txt

  extensions_path: tools/splat_ext

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: bodyprog
    type: code
    start: 0x0
    vram: 0x80024B60
    align: 4
    subalign: 4
    subsegments:
      - [0x0, rodata]
      - [0x8F8, .rodata, bodyprog_800314EC] # Jumptable: `SysState_GameOver_Update`
      - [0x91C, rodata]
      - [0x109C, .rodata, libsd/bodyprog_80045A7C]  # Jumptable: `Sd_EngineCmd`
                                                    # Jumptable: `func_80045BD8`
      - [0x1158, rodata]
      - [0x11C4, .rodata, bodyprog_CD_80047D50] # Jumptable: `func_800482D8`
      - [0x11D8, rodata]
      - [0x1434, .rodata, item_screens] # Jumptable: `GameState_ItemScreens_Update
                                        # Data: `Gfx_Results_Save`
      - [0x1544, rodata]
      #- [0x1704, .rodata, item_screens] # Data: `Gfx_Inventory_ScrollArrows`
      #- [0x174C, rodata]
      - [0x3938, .rodata, bodyprog_80053B08] # Jumptable
      - [0x39C4, rodata]
      - [0x5CF0, .rodata, view/vc_main] # Jumptable: `vcRetFarWatchRate`
      - [0x5D08, .rodata, view/vc_main] # Jumptable: `vcSetFlagsByCamMvType`
      - [0x5D1C, rodata]
      - [0x5FBC, .rodata, bodyprog_80085D78] # Jumptables
      - [0x6044, rodata]
      # - [0x604C, .rodata, bodyprog_80085D78] # Jumptable: `func_80087AF4`
      # - [0x6064, rodata]
      # - [0x641C, .rodata, bodyprog_80085D78] # Jumptable: `func_8008973C`
      # - [0x6444, rodata]
      # - [0x64A4, .rodata, bodyprog_80085D78] # Jumptable: `func_8008A2E0`
      # - [0x6504, rodata]
      - [0x9744, .rodata, libsd/smf_io]
      - [0x97dc, .rodata, libsd/smf_io]
      - [0x99d8, rodata]
      - [0x99e8, .rodata, libsd/smf_mid]
      - [0x9ad0, rodata]
      
      - [0x9ad0,    c, bodyprog]
      - [0x9DEC,    c, save]
      - [0xC98C,    c, bodyprog_800314EC]
      - [0x1b4ec,   c, view/vc_util]
      - [0x1bf04,   c, bodyprog_80040A64]
      - [0x20F1C,   c, libsd/bodyprog_80045A7C]
      - [0x231F0,   c, bodyprog_CD_80047D50]
      - [0x23ed8,   c, view/vw_main]
      - [0x243c8,   c, view/vw_calc] # Contains part of SH2's `vb_main`?
      - [0x25d1c,   c, bodyprog_8004A87C]
      - [0x278FC,   c, item_screens]
      - [0x2EFA8,   c, bodyprog_80053B08]
      - [0x5bde0,   c, view/vc_main]
      - [0x61218,   c, bodyprog_80085D78]
      - [0x6A3C0,   c, demo]
      - [0x6ADEC,   c, credits]

      - [0x6cf9c, asm, psyq/libapi/a09]
      - [0x6cfac, asm, psyq/libapi/a11]
      - [0x6cfbc, asm, psyq/libapi/a39]
      - [0x6cfcc, asm, psyq/libapi/a51]
      - [0x6cfdc, asm, psyq/libapi/a53]
      - [0x6cfec, asm, psyq/libapi/a65]
      - [0x6cffc, asm, psyq/libapi/a67]
      - [0x6d00c, asm, psyq/libapi/a68]
      - [0x6d01c, asm, psyq/libapi/a69]
      - [0x6d02c, asm, psyq/libapi/a81]
      - [0x6d03c, asm, psyq/libapi/first]
      - [0x6d2dc, asm, psyq/libc/a66]
      - [0x6d2ec, asm, psyq/libc/a56]
      - [0x6d2fc, asm, psyq/libc/c24]
      - [0x6d30c, asm, psyq/libc/c25]
      - [0x6d31c, asm, psyq/libc/c26]
      - [0x6d32c, asm, psyq/libc/c27]
      - [0x6d33c, asm, psyq/libc/c37]
      - [0x6d34c, asm, psyq/libc/memcmp]
      - [0x6d39c, asm, psyq/libcard/c171]
      - [0x6d3ac, asm, psyq/libcard/c172]
      - [0x6d3bc, asm, psyq/libcard/a78]
      - [0x6d3cc, asm, psyq/libcard/a80]
      - [0x6d3dc, asm, psyq/libcard/card]
      - [0x6d41c, asm, psyq/libcard/init]
      - [0x6d4ec, asm, psyq/libapi/pad]
      - [0x6d7ec, asm, psyq/libapi/a18]
      - [0x6d7fc, asm, psyq/libapi/a19]
      - [0x6d80c, asm, psyq/libapi/a20]
      - [0x6d81c, asm, psyq/libapi/a21]
      - [0x6d82c, asm, psyq/libapi/l02]
      - [0x6d83c, asm, psyq/libapi/l03]
      - [0x6d84c, asm, psyq/libapi/patch]
      - [0x6d8ec, asm, psyq/libapi/c68]
      - [0x6d8fc, asm, psyq/libapi/chclrpad]
      - [0x6d96c, asm, psyq/libcard/a74]
      - [0x6d97c, asm, psyq/libcard/a75]
      - [0x6d98c, asm, psyq/libcard/a76]
      - [0x6d99c, asm, psyq/libcard/patch]
      - [0x6db6c, asm, psyq/libcard/end]
      - [0x6dbec, asm, psyq/libcd/cdrom]
      - [0x6dc1c, asm, psyq/libcd/iso9660]
      - [0x6e58c, asm, psyq/libcd/cdread2]
      - [0x6e63c, asm, psyq/libcd/c_002]
      - [0x6e69c, asm, psyq/libcd/c_003]
      - [0x6e71c, asm, psyq/libcd/c_004]
      - [0x6e80c, asm, psyq/libcd/c_005]
      - [0x6e89c, asm, psyq/libcd/c_007]
      - [0x6e94c, asm, psyq/libcd/c_008]
      - [0x6e98c, asm, psyq/libcd/c_009]
      - [0x6ea4c, asm, psyq/libcd/c_010]
      - [0x6ea6c, asm, psyq/libcd/c_011]
      - [0x6f55c, asm, psyq/libgpu/e00]
      - [0x6f644, asm, psyq/libgpu/e01]
      - [0x6f6a8, asm, psyq/libgpu/e02]
      - [0x6f70c, asm, psyq/libgpu/e03]
      - [0x6f7c0, asm, psyq/libgpu/e04]
      - [0x6f7fc, asm, psyq/libgpu/p00]
      - [0x6f83c, asm, psyq/libgpu/p01]
      - [0x6f85c, asm, psyq/libgpu/p06]
      - [0x6f89c, asm, psyq/libgpu/p09]
      - [0x6f8bc, asm, psyq/libgpu/p14]
      - [0x6f8dc, asm, psyq/libgpu/p16]
      - [0x6f8fc, asm, psyq/libgpu/p17]
      - [0x6f91c, asm, psyq/libgpu/p18]
      - [0x6f93c, asm, psyq/libgpu/p26]
      - [0x6f95c, asm, psyq/libgpu/p33]
      - [0x6f98c, asm, psyq/libgpu/p34]
      - [0x6f9ec, asm, psyq/libgs/2d_sp1]
      - [0x6fb6c, asm, psyq/libgs/gs_001]
      - [0x700bc, asm, psyq/libgs/gs_002]
      - [0x701dc, asm, psyq/libgs/gs_003]
      - [0x7025c, asm, psyq/libgs/gs_007]
      - [0x7029c, asm, psyq/libapi/counter]
      - [0x7040c, asm, psyq/libgs/gs_008]
      - [0x7043c, asm, psyq/libgs/gs_009]
      - [0x7046c, asm, psyq/libgs/gs_010]
      - [0x7051c, asm, psyq/libgs/matrix]
      - [0x708dc, asm, psyq/libgs/gs_104]
      - [0x7095c, asm, psyq/libgs/gs_105]
      - [0x709cc, asm, psyq/libgs/gs_106]
      - [0x709ec, asm, psyq/libgs/gs_107]
      - [0x70f5c, asm, psyq/libgs/gs_108]
      - [0x70fdc, asm, psyq/libgs/gs_110]
      - [0x7100c, asm, psyq/libgs/gs_111]
      - [0x7103c, asm, psyq/libgs/gs_113]
      - [0x7109c, asm, psyq/libgs/gs_114]
      - [0x7115c, asm, psyq/libgs/gs_121]
      - [0x711ac, asm, psyq/libgs/gs_123]
      - [0x7127c, asm, psyq/libgs/gs_127]
      - [0x712fc, asm, psyq/libgs/objt]
      - [0x7148c, asm, psyq/libgs/objt3]
      - [0x71d1c, asm, lib_unk/lib_8009687C] # Konami custom RotMatrix functions? Fewer branches and different GTE instructions compared to PSX SDK versions.
      - [0x72368, asm, psyq/libgte/msc00]
      - [0x723f8, asm, psyq/libgte/msc01]
      - [0x72488, asm, psyq/libgte/msc02]
      - [0x72738, asm, psyq/libgte/msc06]
      - [0x729c8, asm, psyq/libgte/msc09]
      - [0x72a68, asm, psyq/libgte/mtx_000]
      - [0x72b78, asm, psyq/libgte/mtx_001]
      - [0x72c68, asm, psyq/libgte/mtx_003]
      - [0x72dc8, asm, psyq/libgte/mtx_004]
      - [0x72f28, asm, psyq/libgte/mtx_005]
      - [0x72f58, asm, psyq/libgte/mtx_006]
      - [0x730a8, asm, psyq/libgte/mtx_007]
      - [0x730f8, asm, psyq/libgte/mtx_01]
      - [0x73238, asm, psyq/libgte/mtx_02]
      - [0x73328, asm, psyq/libgte/mtx_03]
      - [0x73438, asm, psyq/libgte/mtx_04]
      - [0x73548, asm, psyq/libgte/mtx_05]
      - [0x73598, asm, psyq/libgte/mtx_06]
      - [0x735f8, asm, psyq/libgte/mtx_07]
      - [0x73628, asm, psyq/libgte/mtx_08]
      - [0x73768, asm, psyq/libgte/mtx_09]
      - [0x73798, asm, psyq/libgte/mtx_10]
      - [0x737c8, asm, psyq/libgte/mtx_11]
      - [0x737f8, asm, psyq/libgte/mtx_12]
      - [0x73818, asm, psyq/libgte/reg08]
      - [0x73838, asm, psyq/libgte/reg09]
      - [0x73848, asm, psyq/libgte/reg10]
      - [0x73868, asm, psyq/libgte/reg11]
      - [0x73888, asm, psyq/libgte/reg12]
      - [0x738a8, asm, psyq/libgte/reg13]
      - [0x738b8, asm, psyq/libgte/smp]
      - [0x73a98, asm, psyq/libgte/smp_00]
      - [0x73ca8, asm, psyq/libgte/smp_02]
      - [0x73cd8, asm, psyq/libgte/smp_03]
      - [0x73d38, asm, psyq/libgte/smp_04]
      - [0x73d68, asm, psyq/libgte/cmb_00]
      - [0x73de8, asm, psyq/libgte/fgo_00]
      - [0x73e28, asm, psyq/libgte/g3]
      - [0x743d8, asm, psyq/libgte/g4]
      - [0x74a98, asm, psyq/libgte/gt3]
      - [0x750d8, asm, psyq/libgte/gt4]
      - [0x75848, asm, psyq/libgte/ratan]
      - [0x759c8, asm, psyq/libgte/patchgte]
      - [0x75aa8, asm, psyq/libpad/padentry]
      - [0x75f58, asm, psyq/libpad/padmain]
      - [0x76c58, asm, psyq/libpad/padcmd]
      - [0x775b8, asm, psyq/libpad/padif]
      - [0x77ba8, asm, psyq/libpad/padportd]
      - [0x78208, asm, psyq/libpad/padseqd]
      - [0x78698, asm, psyq/libpad/waitrc2]
      - [0x78758, asm, psyq/libspu/s_crwa]
      - [0x788f8, asm, psyq/libapi/a10]

      - [0x78908, asm, psyq/libspu/s_m_util] # _SpuIsInAllocateArea _SpuIsInAllocateArea_
      - [0x78a18, asm, psyq/libspu/s_stm] # SpuSetTransferMode
      - [0x78a48, asm, psyq/libspu/s_sva] # SpuSetVoiceAttr
      - [0x79048, asm, psyq/libspu/s_n2p] # _spu_note2pitch _spu_pitch2note
      - [0x79248, asm, psyq/libspu/s_gva] # SpuGetVoiceAttr
      - [0x79638, asm, lib_unk/lib_8009E198]

      - [0x7a244,   c, libsd/smf_snd]

      - [0x7d7fc, asm, psyq/libspu/s_q] # SpuQuit
      - [0x7d87c, asm, psyq/libapi/a13] # DisableEvent
      - [0x7d88c, asm, psyq/libspu/s_m_init] # SpuInitMalloc
      - [0x7d8ec, asm, psyq/libspu/s_sr] # SpuSetReverb
      - [0x7d9bc, asm, psyq/libspu/s_srmp] # SpuSetReverbModeParam
      - [0x7de9c, asm, psyq/libspu/s_sra] # _spu_setReverbAttr
      - [0x7e36c, asm, psyq/libspu/s_rrwa] # SpuReserveReverbWorkArea
      - [0x7e3bc, asm, psyq/libspu/s_srv] # SpuSetReverbVoice
      - [0x7e3ec, asm, psyq/libspu/s_sav] # _SpuSetAnyVoice
      - [0x7e6ac, asm, psyq/libspu/s_sk] # SpuSetKey
      - [0x7e86c, asm, psyq/libspu/s_gks] # SpuGetKeyStatus
      - [0x7e8fc, asm, psyq/libspu/s_skowa] # SpuSetKeyOnWithAttr
      - [0x7e92c, asm, psyq/libspu/s_w] # SpuWrite
      - [0x7e98c, asm, psyq/libspu/s_stsa] # SpuSetTransferStartAddr
      - [0x7e9ec, asm, psyq/libspu/s_itc] # SpuIsTransferCompleted
      - [0x7ea9c, asm, psyq/libspu/s_sca] # SpuSetCommonAttr

      - [0x7ee1c,   c, libsd/smf_io]

      - [0x82158, asm, psyq/libspu/s_grv] # SpuGetReverbVoice
      - [0x82188, asm, psyq/libspu/s_gav] # _SpuGetAnyVoice

      - [0x821b8,   c, libsd/smf_main]
      - [0x82458,   c, libsd/smf_mid]

      - [0x84238, data, bodyprog]

  # Random garbage data at end of bodyprog, overlaps into other overlays causing symbol size issues.
  # Define as bin file to make splat mostly ignore it.
  - name: footer_data
    type: bin
    start: 0xA4A18

  - [0xA4B00]
