name: Video Stream Logic Overlay (STREAM.BIN)
sha1: 2a0ffcbbb4f28d3bb66f7f73f18c1d4502cb2fe6
options:
  basename: STREAM.BIN
  target_path: assets/VIN/STREAM.BIN
  base_path: ..
  platform: psx
  compiler: GCC

  asm_path: asm/stream
  src_path: src/stream
  build_path: build

  ld_script_path: linkers/stream.ld

  find_file_boundaries: False
  gp_value: 0x80022BB0

  o_as_suffix: False
  use_legacy_include_asm: False

  asm_function_macro: glabel
  asm_jtbl_label_macro: jlabel
  asm_data_macro: dlabel

  section_order: [".rodata", ".text", ".data", ".bss"]

  symbol_addrs_path:
    - configs/sym.stream.txt
  reloc_addrs_path:
    - configs/rel.stream.txt

  undefined_funcs_auto_path: linkers/undefined_funcs_auto.stream.txt
  undefined_syms_auto_path: linkers/undefined_syms_auto.stream.txt

  extensions_path: tools/splat_ext

  subalign: 4

  string_encoding: ASCII
  data_string_encoding: ASCII
  rodata_string_guesser_level: 2
  data_string_guesser_level: 2
segments:
  - name: stream
    type: code
    start: 0
    vram: 0x801E2600
    align: 4
    subalign: 4
    subsegments:
      - [0x0, rodata]
      - [0x54, asm, stream]
      - [0x193C, data, stream]
  - [0x12B00]
